/*===using an universal selector to have a legible font ====*/

* {
font-family: Arial, Helvetica, sans-serif;
}

/*=== Targeting element with type selectors ===*/

h1 {
    color: blue;
    
}

span {
    background-color: yellow;
}

strong {
    color: turquoise;
}

em {
    color: red;
}